/*
Author: Eric Miller
Assignment: Git More Practice
Date: 10/19/2023
Filename: styles.css
*/

h1 {
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
    text-align: center;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    font-weight: bold;
}